@page
@model testeEFCore.Pages.Fornecedores.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor.Documento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.Documento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor.TipoFornecedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.TipoFornecedor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.Ativo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Fornecedor.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
