@page
@model testeEFCore.Pages.Produtos.IndexModel

@{
    ViewData["Title"] = "Produto(s)";
}


<p>
    <a asp-page="Create" class="btn btn-primary">Create</a>
</p>
@if (Model.Produto.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].Imagem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].Valor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].DataCadastro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].DataAtualizacao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].Ativo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Produto[0].Fornecedor)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Produto)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Imagem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataCadastro)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataAtualizacaoFormat)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fornecedor)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning" role="alert">
        "Não existe Produto na base de dados."
    </div>
}
